@import url('./reset.css');

body {
    background: #e6e6e6;
    width: 100%;
    height: 100%;
}
header {
    position: fixed;
    width: 100%;
    height: 100px;
    /* overflow: hidden; */
    background: #5b92a6;
    z-index: 999;
}
header > h1 {
    text-align: left;
    margin-left: 20px;
    line-height: 100px;
}
header > h1 a { color: #fff;}
header > button {
    position: absolute;
    right: 20px;
    top: 37px;
    border: none;
    background: none;
    font-size: 25px;
    color: #fff;
}
header > .titlte {
    width: 100%;
}
header > .title > ul {
    background: #819398;
}
header > .title > ul > li {
    width: 250px;
    padding: 20px;
}

header > .title > ul > li a {
    display: block;
    margin-left: 20px;
    text-align: left;
    font-size: 15px;
    color: #fff;
}
header > .title > ul > li a:hover {
    color: #216d7b;
    border-bottom: 1px solid #216d7b;
}
#content {
    width: 100%;
    overflow: hidden;
}
#content > ul > li {
    position: absolute;
    /* left: 300px; */
    top: 150px;
    left: 10px;
    width: 100%;
    /* background: #ccc; */
}
#content > ul > li h1 {
    margin-bottom: 30px;
    color: #216d7b;
    font-weight: 800;
    font-size: 35px;
}
#content > ul > li img {
    width: 100%;
}