@import url(./reset.css);

header {
    /* width: 100%; */
    height: 700px;
    padding: 50px;
    margin: 0 auto;
    background: #333;
    background-image: url(../image/main.jpg);
    overflow: hidden;
}
header > .logo {
    position: relative;
    top: 120px;
    margin-top: 50px;
    line-height: 30px;
    text-align: center;
    font-size: 15px;
    z-index: 999;
}
header > .logo > h1 { font-family: 'Poiret One', cursive;}
header > .logo > p { 
    font-family: 'Poiret One', cursive;
    font-size: 20px;
}
header > .gnb {
    position: relative;
    top: 120px;
}
header > .gnb > ul {
    text-align: center;
}
header > .gnb > ul > li {
    margin-top: 10px;
    width: 150px;
    display: inline-block;
    background: #000;
}
header > .gnb > ul > li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Poiret One', cursive;
}
#content {
    width: 100%;
    overflow: hidden;
}
#content > .design {
    height: auto;
    background: #d1d1d9;
    overflow: hidden;
}
#content > .design > h1 {
    color: #fff;
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
}
#content > .design > ul {
    text-align: center;
    margin-top: 50px;
}
#content > .design > ul > li {
    width: 500px; height: 300px;
    position: relative;
    overflow: hidden;
    float: left;
    margin-bottom: 25px;
    margin-left: 20px;
    left: 150px;
    border-radius: 15px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
}

#content > .design > ul > li > a .info {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; top: 0;
    background: rgba(44,96,107,0.8);
    display: none;
    text-align: center;
    line-height: 300px;
    font-size: 18px;
    color: #fff;
}
#content > .design > ul > li:hover .info { display: block;}

#content > .design > ul > li img { 
    transition: 0.5s;
    width: 500px;
}
#content > .design > ul > li:hover img {
    transform: scale(1.2);
}

#content > .visual {
    width: 100%;
    height: 350px;
    overflow: hidden;
    background: url('../image/visual.jpg') 0 0 no-repeat fixed;
}

#about {
    overflow: hidden;
    width: 100%;
    height: 700px;
    background: #d1d1d9;
}

#about > .info > h1 {
    text-align: center;
    font-size: 50px;
    color: #fff;
    margin-top: 50px;
}

#about > .info > .left {
    width: 45%;
    height: 500px;
    float: left;
    margin-top: 50px;
    /* background: #000; */
    /* margin-left: 130px; */
}
#about > .info > .left > div {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    margin-right: 70px;
    margin-top: 90px;
    background: #fff;
    border-radius: 50%;
    overflow: hidden;
}
#about > .info > .left > div img {
    width: 270px;
    margin-top: 20px;
    margin-left: -10px;
}
#about > .info > .right {
    width: 55%;
    height: 500px;
    float: right;
    margin-top: 20px;
    /* background: #ccc; */
}
#about > .info > .right > .other {
    /* background: #fff; */
    padding: 10px;
    top: 180px;
    position: relative;
} 
#about > .info > .right > .other > h4 {
    font-size: 25px;
    margin-bottom: 10px;
}
#about > .info > .right > .other > p {
    color: #666;
    font-weight: 600;
    line-height: 25px;
}
#about > .info > .right > .skill {
    position: relative;
    top: -50px; left: 250px;
}
#about > .info > .right > .skill h3 {
    margin-bottom: 20px;
}
#about > .info > .right > .skill img {
    margin-right: 20px;
    width: 60px;
    cursor: pointer;
}
#about > .info > .right > .skill img:hover {
    transition: 0.2s;
    transform: scale(1.2);
}
#about > .info > .right > .interest {
    position: relative;
    left: 250px;
}
#about > .info > .right > .interest > h3 {
    margin-bottom: 20px;
}
#about > .info > .right > .interest > ul > li {
    display: inline-block;
    margin-right: 20px;
}
#about > .info > .right > .interest > ul > li p {
    text-align: center;
}
#about > .info > .right > .interest img {
    width: 60px;
    margin-bottom: 10px;
}
#about > .info > .right > .interest img:hover {
    cursor: pointer;
    transition: 0.2s;
    transform: scale(1.2);
}

#about > .info > .right > .interest p {
    font-size: 14px;
    color: #216d7b;
}

